<h1><%= @title %></h1>

<p>
  <h3>E-mail Address:</h3>
    <ul>
      <li><%= @email %></li>
    </ul>  
  <h3>Interests:</h3>
    <ul>
      <li>
        <%= @interests.map { |interest| interest.capitalize}.join(", ") %>
      </li>
    </ul>
</p>

<br><br>

<h4><em>List of Other Users</em></h4>
  
